<h1>Enroll <%= @student.name %></h1>

<%= simple_form_for @schedule do |f| %>
    <%= f.fields_for :schedules do |schedule| %>
        <%= render "schedule_fields", :f => schedule %>
    <% end %>
    <div class= 'col-md-8'>
        <%= f.button :submit %>
    </div>
<% end %>

