<div class="nested-fields">
    <div class="form-field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div class="form-field">
        <%= f.label :age_group %>
        <%= f.collection_radio_buttons :age_group,  [['Tiny', 'Tiny'],['Small', 'Small'] ,['Medium', 'Medium'], ['Big', 'Big']], :first, :last %> 
    </div>
    <%= link_to_remove_association "Remove student", f %><br />
</div>