<div class="nested-fields">
    <div class="form-field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div class="form-field">
        <%= f.label :age %>
        <%= f.text_field :age %>
    </div>
    <%= link_to_remove_association "Remove student", f %><br />
</div></br></br>