<div class="panel panel-default"       >
    <div class="panel-heading">
        <h1>Add or Delete Students</h1>
    </div>
    <div class="panel-body">
        <%= form_for @user do |f| %>
            <%= f.fields_for :students do |student| %>
                <%= render "student_fields", :f => student %>
            <% end %>
            <div class="links">
                <%= link_to_add_association "Add A Student", f, :students %>
            </div></br>
            <%= f.submit %>
        <% end %>
    </div>
</div>
        
        
        
        
        