
<div class='panel panel-default'>
    <div class='panel-heading'>
        <h1><%= current_user.name %>'s Account</h1>
    </div>
    <div class='panel-body'>
        <h2>User Information</h2>
        <p><strong>Name: </strong><%= current_user.name %></p>
        <p><strong>Email: </strong><%= current_user.email %></p>
        <%= link_to "Edit User", edit_user_registration_path %>
    </div>
    <div class='panel-body'>
        
        <h2>Students</h2>
        <table id='student_list' class="stripe order-column hover" cellspacing="0" width="50%">
                <tr>
                    <th>Name</th>
                    <th>Age (yrs)</th>
                    <th>Change Students (add or edit)?</th>
                </tr>
                <% if @user.students %>
                    <% @user.students.each do |student| %>
                    <tr>
                        <td><%= student.name %></td> 
                        <td><%= student.age %></td>
                        <td><%= link_to "Edit", edit_user_path(current_user) %></td>
                    </tr>
                <% end %><br>
            <% else %>
                <p>There are no students on your account. Click to 
                <%= link_to "Add Students", edit_user_registration_path %></p>
            <% end %>
        </table>
    </div>
   
    
    <div class='panel-body'>
        <h2>Student Schedules</h2>
        
        <table id='user_enrollments' class="stripe order-column hover" cellspacing="0" width="100%">
            <tr>
                <th>Name</th>
                <th>First Block</th>
                <th>Second Block</th>
                <th>Third Block </th>
                <th>Change Schedule?</th>
            </tr>
            <% current_user.students.each do |student| %>
                <% schedule = Schedule.where(student_id: student.id).last %>
                    <tr>
                        <td><%= student.name %></td>  
                        <td><%= Course.find(schedule.first_course_id).title unless schedule.nil? %></td>
                        <td><%= Course.find(schedule.second_course_id).title unless schedule.nil? %></td>
                        <td><%= Course.find(schedule.third_course_id).title unless schedule.nil?  %></td>
                        <td><% if schedule %>
                               <%= link_to "Edit", edit_schedule_path(schedule) %> 
                            <% else %>
                                <%= link_to "Select Classes", new_schedule_path %>
                            <% end %></td>
                    </tr>
            <% end %>
        </table>
    </div>
     <div class='panel-body'>
        <h2>Teaching Classes</h2>
        
        <table id='teaching_classes' class="stripe order-column hover" cellspacing="0" width="100%">
            <tr>
                <th>Title</th>
                <th>Age Group</th>
                <th>Time Block</th>
                <th>Change Teaching Schedule?</th>
            </tr>
            <% current_user.courses.each do |course| %>
                <tr>
                    <td><%= course.title %> </td> 
                    <td><%=course.age_group %> </td>
                    <td><%= course.time_block %> </td>
                    <td><%= link_to "Edit", edit_course_path(course) %> | <%= link_to 'Delete', course, method: :delete %> </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>