
<div class='panel panel-default'>
    <div class='panel-heading'>
        <h1><%= current_user.name %>'s Account</h1>
    </div>
    <div class='panel-body'>
        <h2>User Information</h2>
        <p><strong>Name: </strong><%= current_user.name %></p>
        <p><strong>Email: </strong><%= current_user.email %></p>
        <%= link_to "Edit User", edit_user_registration_path %>
    </div>
    <div class='panel-body'>
        <h2>Students</h2>
        <% if @user.students %>
            <% @user.students.each do |student| %>
                <p><strong>Name: </strong><%= student.name %>, <strong>Age: </strong><%= student.age %>, 
                <%= link_to "Enroll", new_schedule_path, class:'btn btn-primary btn-sm' %></p>
            <% end %>
        <% else %>
            <p>There are no students on your account.</p>
        <% end %><br>
        <%= link_to "Edit Students", edit_user_path(current_user) %>
    </div>
   
    
    <div class='panel-body'>
        <h2>Student Schedules</h2>
        
        <table id='user_enrollments' class="stripe order-column hover" cellspacing="0" width="100%">
            <tr>
                <th>Name</th>
                <th>First Block</th>
                <th>Second Block</th>
                <th>Third Block </th>
                <th>Remove Class?</th>
            </tr>
            <% current_user.students.each do |student| %>
             
                
                    <tr>
                        <td><%= student.name %></td>  
                        <td><%=  %></td>
                        
                        <td><%= student.schedules.first_course_id %></td>
                        <td><%= Schedule.where(student_id: student.id).last  %></td>
                        <td><%=  %></td>
                    </tr>
               
            <% end %>
        </table>
    </div>
     <div class='panel-body'>
        <h2>Teaching Classes</h2>

        <% current_user.courses.each do |course| %>
            <p><strong>Title:  </strong><%= course.title %> | <strong>Age group: </strong> <%=course.age_group %> | <strong>Time block: </strong><%= course.time_block %> |
            <%= link_to "Edit", edit_course_path(course) %> |
            <%= link_to 'Delete', course, method: :delete %></p>
        <% end %>
    </div>
</div>