
<div class='panel panel-default'>
    <div class='panel-heading'>
        <h1><%= current_user.name %>'s Account</h1>
    </div>
    <div class='panel-body'>
        <h2>User Information</h2>
        <p><strong>Name: </strong><%= current_user.name %></p>
        <p><strong>Email: </strong><%= current_user.email %></p>
        <%= link_to "Edit User", edit_user_registration_path %>
    </div>
    <div class='panel-body'>
        <h2>Students</h2>
        <% if @user.students %>
            <% @user.students.each do |student| %>
                <p><strong>Name: </strong><%= student.name %> 
                <% if student.age_group %>,
                    <strong>Age group: </strong><%= student.age_group %></p>
                <% end %>
            <% end %>
        <% else %>
            <p>There are no students on your account.</p>
        <% end %>
        <%= link_to "Edit Students", edit_user_path(current_user) %>
    </div>
    <div class='panel-body'>
        <h2>Teaching Classes</h2>
        <% current_user.courses.each do |course| %>
            <p><strong>Title:  </strong><%= course.title %> | <strong>Age group: </strong> <%=course.age_group %> | <strong>Time block: </strong><%= course.time_block %> |
            <%= link_to "Edit", edit_course_path(course) %> |
            <%= link_to 'Delete', course, method: :delete %></p>
        <% end %>
    </div>
    
    <div class='panel-body'>
        <h2>Student Enrollments</h2>
        <% current_user.students.each do |student| %>
            <table class='table'>
                <tr>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Age group</th>
                    <th>Time block</th>
                </tr>
                <% student.enrollments.each do |enrollment| %>
                    <tr>
                        <td><%= student.name %></td>  
                        <td><%= enrollment.course.title %></td>
                        <td><%= enrollment.course.age_group %></td>
                        <td><%= enrollment.course.time_block %></td>
                    </tr>
                <% end %>
            </table>
        <% end %>
    </div>
    </div>
</div>