<h3 class="preview">Courses Offered</h3>
<div class="table-responsive">
    <table class="table table-bordered .table-condensed">
        <tr>
            <th>First Block</th>
            <th>Age</th>
            <th>Status</th>
        </tr>
        <% Course.where(time_block: 1).each do |course| %>
        <tr>
            <td><%= course.title %><small><%= link_to ' > class info', course %></small></td>
            <td><%= course.age_group %></td>
            <% if course.max_students > course.seats_taken  %>
                <td><small>Open (<%= course.max_students - course.seats_taken %> seats)</small></td>
                <td></td>
            <% else %>
                <td><small style="color:red">FULL</small></td>
            <% end %>
        </tr>
        <% end %>
        
        <tr>
            <th>Second Block</th><th></th><th></th>
        </tr>
        <% Course.where(time_block: 2).each do |course| %>
            <tr>
                <td><%= course.title %><small><%= link_to ' > class info', course %></small></td>
                <td><%= course.age_group %></td>
                <% if course.max_students > course.seats_taken  %>
                    <td><small>Open (<%= course.max_students - course.seats_taken %> seats)</small></td>
                    <td></td>
                <% else %>
                    <td><small style="color:red">FULL</small></td>
                <% end %>
            </tr>
        <% end %>
        
        <tr>
            <th>Third Block</th><th></th><th></th>
        </tr>
        <% Course.where(time_block: 3).each do |course| %>
            <tr>
                <td><%= course.title %><small><%= link_to ' > class info', course %></small></td>
                <td><%= course.age_group %></td>
                <% if course.max_students > course.seats_taken  %>
                    <td><small>Open (<%= course.max_students - course.seats_taken %> seats)</small></td>
                    <td></td>
                <% else %>
                    <td><small style="color:red">FULL</small></td>
                <% end %>
            </tr>
        <% end %>
    </table>
</div> 