<div class='panel panel-default'>
    <div class='panel-heading'>
        <h1>Course Sign-Up</h1> 
    </div>
                
    <div class='panel-body'>
        <div class="row">
            <div class="col-md-6">
                <h3 class="preview">Enrollment Form</h3>
                <div >
                    <%= simple_form_for @schedule do |f| %>   
                        <%= f.input :student_id, label: 'Student', :collection => @user.students %>
                        
                        <%= f.input :first_course_id, label: 'First Block: 10:00 am', :as => :grouped_select, 
                        :collection =>  Course.where(time_block: '1').where(course_full: false).group_by(&:age_group), :group_method => :last %>
                        
                        <%= f.input :second_course_id, label: 'Second Block: 11:00 am', :as => :grouped_select, 
                       :collection =>  Course.where(time_block: '2').where(course_full: false).group_by(&:age_group), :group_method => :last %>
                       
                       <%= f.input :third_course_id, label: 'Third Block: 1:00 pm', :as => :grouped_select, 
                       :collection =>  Course.where(time_block: '3').where(course_full: false).group_by(&:age_group), :group_method => :last %>
                        <%= f.button :submit, class: 'btn btn-primary btn-sm' %>
                    <% end %>
                </div>
            </div>
            <div class="col-md-6">
                
            </div>
        </div>
    </div>   
</div>



