<% if courses %>
  <% courses.each do |age_group, course_array_age| %>
    <div class='table-responsive'>
      <table class='table'>
        <h2><%= age_group %></h2>
        <thead>
          <tr>
            <th>Instructor</th>
            <th>Title</th>
            <th>Time block</th>
            <th>Age group</th>
            <th>Max students</th>
            <th>Fee</th>
            <th>Openings</th>
          </tr>
        </thead>
  
        <tbody>
          <% course_array_age.group_by(&:time_block).each do |time_block, course| %>
            <% course_array_time.each do |course| %>
              
              <tr>
                <td><%= course.user.name unless course.user.nil? %></td>
                <td><%= course.title %></td>
                <td><%= course.time_block %></td>
                <td><%= course.age_group %></td>
                <td><%= course.max_students %></td>
                <td><%= number_to_currency(course.fee) %></td>
                <td><%= course.openings %></td>
                
                <td><%= link_to 'More info ', course %></td>
                <% if current_user.admin? %>
                    
                    <td><%= link_to 'Delete', course, method: :delete %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>