<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user, label: "Instructor" %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :time_block, collection: ['10:00 am', '11:00 am', '1:00 pm', 'no preference'], as: :radio_buttons %><br />
    <%= f.input :age_group, collection: ['Tiny', 'Small', 'Medium', 'Big'], as: :radio_buttons %>
    <%= f.input :max_students, collection: 1..20 %>
    <%= f.input :fee, :input_html => {value: number_with_precision(f.object.fee, precision: 2) } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
