<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user, label: "Instructor" %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :max_students, collection: 1..20 %>
    <%= f.input :age_group, collection: ['Tiny', 'Small', 'Medium', 'Big', 'Adult'], as: :radio_buttons %></br>
    <%= f.input :time_block, collection: [['1','First Block (10:00 am)'],['2', 'Second Block (11:00 am)'], ['3','Third Block (1:00 pm)']], :label_method => :last, :value_method => :first,  as: :radio_buttons  %>
    <%= f.input :fee, as: :currency %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, label: 'Update Class', class: 'btn btn-primary' %>
  </div><br>
<% end %>
