<div id="<%= type %>_table">
    <h2><%= type.capitalize %></h2>
    <table id="<%= type %>_courses" class="stripe order-column hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Time block</th>
          <th>Title</th>
          <th>Instructor</th>
          <th>Max students</th>
          <th>Openings</th>
          <th>Fee</th>
          <th>More Info</th>
        </tr>
      </thead>
      <tbody>
        <% collection.each do |course| %>
          <tr>
            <td><%= best_in_place course, :time_block, :as => :select, :collection => [["10:00 am", "10:00 am"], ["11:00 am", "11:00 am"], ["1:00 pm", "1:00 pm"]] %></td>
            <td><%= best_in_place course, :title, :as => :input %></td>
            <td><%= course.user.name %></td>
            <td><%= course.max_students %></td>
            <td><%= course.openings %></td>
            <td><%= number_to_currency(course.fee) %></td>
            <td><%= link_to 'Description ', course %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div><br><br><br><br>
