<div id="<%= type %>_table">
    <small class = 'pull-right'><%=link_to "Tiny", :anchor => 'tiny_table' %> | <%=link_to "Small", :anchor => 'small_table' %>  
  | <%=link_to "Medium", :anchor => 'medium_table' %> | <%=link_to "Big", :anchor => 'big_table' %> | <%=link_to "Adult", :anchor => 'adult_table' %></small>
    <h2><%= type.capitalize %></h2>
    <table id="<%= type %>_courses" class="stripe order-column hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Time Block</th>
          <th>Title</th>
          <th>Instructor</th>
          <th>Age</th>
          <th>Max Students</th>
          <th>Openings</th>
          <th>Fee</th>
          <th>Room</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% collection.each do |course| %>
          <tr>
            <td><%= course.time_block %></td>
            <td><%= course.title %></td>
            <td><%= course.user.name %></td>
            <td><%= course.age_group %></td>
            <td><%= course.max_students %></td>
            <td><% if course.max_students <= course.seats_taken %>
                  <small>Class Full <%=link_to 'Waiting list?' %></small>
                <% else %>
                  <%= course.max_students - course.seats_taken %>
                <% end %></td>
            <td><%= number_to_currency(course.fee) %></td>
            <td><%= course.room %></td>
            <td><%= course.description %><%= link_to ' >More', course %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div><br><br><br><br>