<div class='panel panel-default'>
  <div class='panel-heading'>
    <h1>Current Class Offerings - Spring 2016</h1>
    <h2>Planning In-Progress</h2>
  </div>
  <div class='panel-body table-responsive'>
    <%= render partial: "courses/table_final", locals: {type: "tiny", collection: @tiny_courses} %>
    <%= render partial: "courses/table_final", locals: {type: "small", collection: @small_courses} %>
    <%= render partial: "courses/table_final", locals: {type: "medium", collection: @medium_courses} %>
    <%= render partial: "courses/table_final", locals: {type: "big", collection: @big_courses} %>
    <%= render partial: "courses/table_final", locals: {type: "adult", collection: @adult_courses} %>
  </div>
</div>
<br>

