<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<table>
  <thead>
    <tr>
      <th>Instructor</th>
      <th>Title</th>
      <th>Time block</th>
      <th>Age group</th>
      <th>Max students</th>
      <th>Fee</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% if @courses %>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.user.name unless course.user.nil? %></td>
          <td><%= course.title %></td>
          <td><%= course.time_block %></td>
          <td><%= course.age_group %></td>
          <td><%= course.max_students %></td>
          <td><%= course.fee %></td>
          <td><%= link_to '| More info', course %></td>
        </tr>
      <% end %>
    <% end %>
   
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path, class: 'btn btn-success' %>
