<div class='panel panel-default'>
  <div class='panel-heading'>
    <h1>Proposed Classes - Winter 2015  <div class="pull-right"><%= link_to "Add New Class", new_course_path, class: 'btn btn-primary btn-sm' %> </div></h1>
   
  </div>
  
  <div class='panel-body'>
    <%= render partial: "courses/table", locals: {type: "tiny", collection: @tiny_courses} %>
    <%= render partial: "courses/table", locals: {type: "small", collection: @small_courses} %>
    <%= render partial: "courses/table", locals: {type: "medium", collection: @medium_courses} %>
    <%= render partial: "courses/table", locals: {type: "big", collection: @big_courses} %>
    <%= render partial: "courses/table", locals: {type: "adult", collection: @adult_courses} %>
  </div>
</div>


