<p id="notice"><%= notice %></p>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <h1><%= @course.title %></h1>
  </div>

<div class='panel-body waitlist'>
  <div class="row">
    <div class="col-md-4">
      <table id="course_show_table">
        <tbody>
          <tr>
            <th>Teacher:</th>
            <td><% if @course.user == nil %> 
                  undecided 
                <% else %>
                  <%= @course.user.name %>
                <% end %></td>
          </tr>
          <tr>
            <th>Co-Teacher:</th>
            <td><%= @course.guest_teacher %></td>
          </tr>
          <tr>
            <th>Time Block:</th>
            <td><%= @course.time_block %></td>
          </tr>
          <tr>
            <th>Age Group:</th>
            <td><%= @course.age_group %></td>
          </tr>
          <tr>
            <th>Max Students:</th>
            <td><%= @course.max_students %></td>
          </tr>
          <tr>
            <th>Room:</th>
            <td><%= @course.room %></td>
          </tr>
          <tr>
            <th>Fee:</th>
            <td><%= number_to_currency(@course.fee) %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-8">
      <p><strong>Description: </strong><%= @course.description %></p>
      <p><strong>Additional Notes: </strong><%= @course.note %></p>
    </div>
  </div>
  <div class="row course_show_lists">
    <div class="col-md-4">
      <p><strong>Class Roster: </strong>
      <ol>
        <% @schedules_with_course.each do |schedule| %>
          <li><%= schedule.student.name %></li>
        <% end %>
      </ol>
      </p>
    </div>
    <div class="col-md-4">
      <p><strong>Waiting List: </strong>
         <ol>
        <% @course.students_waiting.each do |waiting_student| %>
          <li><%= waiting_student.student.name %>
          <small>(<%= link_to "remove", waitlist_student_path(waiting_student), method: :delete %>)</small></li>
        <% end %>
      </ol>
      </p>
    </div>
  </div>
</div>

<strong>Remove Class?</strong>
  <%= link_to 'Delete', [@course], method: :delete %>
<br>
<%= link_to 'Edit Class', edit_course_path(@course) %> | 
<%= link_to 'Return to Class List', courses_path %> 
