<p id="notice"><%= notice %></p>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <p><h2>Title:  <%= @course.title %></h2></p>
  </div>

<div class="row" >
  <div class='panel-body'>
    <p><strong>Teacher: </strong><%= @course.user.name %></p>
    <p><strong>Guest Teacher: </strong><%= @course.guest_teacher %></p>
    <p><strong>Description: </strong><%= @course.description %></p>
    <p><strong>Time Block: </strong><%= @course.time_block %></p>
    <p><strong>Age Group: </strong><%= @course.age_group %></p>
    <p><strong>Max Students: </strong><%= @course.max_students %></p>
    <p><strong>Room: </strong><%= @course.room %></p>
    <p><strong>Fee: </strong><%= number_to_currency(@course.fee) %></p>
    <p><strong>Class Roster: </strong>
      <ul class='list-unstyled'>
        <% @schedules_with_course.each do |schedule| %>
          <li><%= schedule.student.name %></li>
        <% end %>
      </ul>
    </p>
  </div>

</div>

<% if current_user %>
  <p><strong>Remove Class?</strong>
    <%= link_to 'Delete', [@course], method: :delete %>
  </p><br>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>

<%= link_to 'Class List', courses_path %> 
