<p id="notice"><%= notice %></p>

<p>
  <strong>Instructor:</strong>
  <%= @course.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Time block:</strong>
  <%= @course.time_block %>
</p>

<p>
  <strong>Age group:</strong>
  <%= @course.age_group %>
</p>

<p>
  <strong>Max students:</strong>
  <%= @course.max_students %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @course.fee %>
</p>
<% if current_user.role == 'admin' %>
  <p><strong>Delete Course?</strong>
    <%= link_to 'Delete', [@course], method: :delete, class: 'btn btn-danger' %>
  </p><br>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>

<%= link_to 'Class List', courses_path %> 
